In [1]:
import pandas as pd
import numpy

In [2]:
moon_phases_2016 = "moon_phases_2016.csv"
moon_phases_2017 = "moon_phases_2017.csv"
moon_phases_2018 = "moon_phases_2018.csv"

In [3]:
moon_phases_2016_df = pd.read_csv(moon_phases_2016)
moon_phases_2017_df = pd.read_csv(moon_phases_2017)
moon_phases_2018_df = pd.read_csv(moon_phases_2018)

In [4]:
moon_phases_2016_df.head()

,date,time,phase,phaseid,datetime,timestamp,friendlydate
0,01/01/2016,10:30 PM,Last Quarter,4,2016-01-01 22:30:00,1451712600,"January 1, 2016"
1,01/09/2016,06:31 PM,New Moon,1,2016-01-09 18:31:00,1452389460,"January 9, 2016"
2,01/16/2016,04:26 PM,First Quarter,2,2016-01-16 16:26:00,1452986760,"January 16, 2016"
3,01/23/2016,06:46 PM,Full Moon,3,2016-01-23 18:46:00,1453599960,"January 23, 2016"
4,01/31/2016,08:28 PM,Last Quarter,4,2016-01-31 20:28:00,1454297280,"January 31, 2016"

In [5]:
moon_phases_2017_df.head()

,date,time,phase,phaseid,datetime,timestamp,friendlydate
0,01/05/2017,12:47 PM,First Quarter,2,2017-01-05 12:47:00,1483645620,"January 5, 2017"
1,01/12/2017,04:34 AM,Full Moon,3,2017-01-12 04:34:00,1484220840,"January 12, 2017"
2,01/19/2017,03:13 PM,Last Quarter,4,2017-01-19 15:13:00,1484863980,"January 19, 2017"
3,01/27/2017,05:07 PM,New Moon,1,2017-01-27 17:07:00,1485562020,"January 27, 2017"
4,02/03/2017,09:19 PM,First Quarter,2,2017-02-03 21:19:00,1486181940,"February 3, 2017"

In [6]:
moon_phases_2018_df.head()

,date,time,phase,phaseid,datetime,timestamp,friendlydate
0,01/01/2018,07:24 PM,Full Moon,3,2018-01-01 19:24:00,1514859840,"January 1, 2018"
1,01/08/2018,03:25 PM,Last Quarter,4,2018-01-08 15:25:00,1515450300,"January 8, 2018"
2,01/16/2018,07:17 PM,New Moon,1,2018-01-16 19:17:00,1516155420,"January 16, 2018"
3,01/24/2018,03:20 PM,First Quarter,2,2018-01-24 15:20:00,1516832400,"January 24, 2018"
4,01/31/2018,06:27 AM,Full Moon,3,2018-01-31 06:27:00,1517405220,"January 31, 2018"

In [7]:
merge1_df = pd.concat([moon_phases_2016_df, moon_phases_2017_df])
moon_phases_df = pd.concat([merge1_df, moon_phases_2018_df], ignore_index=True)
moon_phases_df

,date,time,phase,phaseid,datetime,timestamp,friendlydate
0,01/01/2016,10:30 PM,Last Quarter,4,2016-01-01 22:30:00,1451712600,"January 1, 2016"
1,01/09/2016,06:31 PM,New Moon,1,2016-01-09 18:31:00,1452389460,"January 9, 2016"
2,01/16/2016,04:26 PM,First Quarter,2,2016-01-16 16:26:00,1452986760,"January 16, 2016"
3,01/23/2016,06:46 PM,Full Moon,3,2016-01-23 18:46:00,1453599960,"January 23, 2016"
4,01/31/2016,08:28 PM,Last Quarter,4,2016-01-31 20:28:00,1454297280,"January 31, 2016"
5,02/08/2016,07:39 AM,New Moon,1,2016-02-08 07:39:00,1454942340,"February 8, 2016"
6,02/15/2016,12:46 AM,First Quarter,2,2016-02-15 00:46:00,1455522360,"February 15, 2016"
7,02/22/2016,11:20 AM,Full Moon,3,2016-02-22 11:20:00,1456165200,"February 22, 2016"
8,03/01/2016,04:11 PM,Last Quarter,4,2016-03-01 16:11:00,1456873860,"March 1, 2016"
9,03/08/2016,06:54 PM,New Moon,1,2016-03-08 18:54:00,1457488440,"March 8, 2016"
10,03/15/2016,10:03 AM,First Quarter,2,2016-03-15 10:03:00,1458061380,"March 15, 2016"
11,03/23/2016,05:01 AM,Full Moon,3,2016-03-23 05:01:00,1458734460,"March 23, 2016"
12,03/31/2016,08:17 AM,Last Quarter,4,2016-03-31 08:17:00,1459437420,"March 31, 2016"
13,04/07/2016,04:24 AM,New Moon,1,2016-04-07 04:24:00,1460028240,"April 7, 2016"
14,04/13/2016,08:59 PM,First Quarter,2,2016-04-13 20:59:00,1460606340,"April 13, 2016"
15,04/21/2016,10:24 PM,Full Moon,3,2016-04-21 22:24:00,1461302640,"April 21, 2016"
16,04/29/2016,08:29 PM,Last Quarter,4,2016-04-29 20:29:00,1461986940,"April 29, 2016"
17,05/06/2016,12:30 PM,New Moon,1,2016-05-06 12:30:00,1462563000,"May 6, 2016"
18,05/13/2016,10:02 AM,First Quarter,2,2016-05-13 10:02:00,1463158920,"May 13, 2016"
19,05/21/2016,02:14 PM,Full Moon,3,2016-05-21 14:14:00,1463865240,"May 21, 2016"
20,05/29/2016,05:12 AM,Last Quarter,4,2016-05-29 05:12:00,1464523920,"May 29, 2016"
21,06/04/2016,08:00 PM,New Moon,1,2016-06-04 20:00:00,1465095600,"June 4, 2016"
22,06/12/2016,01:10 AM,First Quarter,2,2016-06-12 01:10:00,1465719000,"June 12, 2016"
23,06/20/2016,04:02 AM,Full Moon,3,2016-06-20 04:02:00,1466420520,"June 20, 2016"
24,06/27/2016,11:19 AM,Last Quarter,4,2016-06-27 11:19:00,1467051540,"June 27, 2016"
25,07/04/2016,04:01 AM,New Moon,1,2016-07-04 04:01:00,1467630060,"July 4, 2016"
26,07/11/2016,05:52 PM,First Quarter,2,2016-07-11 17:52:00,1468284720,"July 11, 2016"
27,07/19/2016,03:57 PM,Full Moon,3,2016-07-19 15:57:00,1468969020,"July 19, 2016"
28,07/26/2016,04:00 PM,Last Quarter,4,2016-07-26 16:00:00,1469574000,"July 26, 2016"
29,08/02/2016,01:45 PM,New Moon,1,2016-08-02 13:45:00,1470170700,"August 2, 2016"
...,...,...,...,...,...,...,...
119,05/29/2018,07:20 AM,Full Moon,3,2018-05-29 07:20:00,1527603600,"May 29, 2018"
120,06/06/2018,11:32 AM,Last Quarter,4,2018-06-06 11:32:00,1528309920,"June 6, 2018"
121,06/13/2018,12:43 PM,New Moon,1,2018-06-13 12:43:00,1528918980,"June 13, 2018"
122,06/20/2018,03:51 AM,First Quarter,2,2018-06-20 03:51:00,1529491860,"June 20, 2018"
123,06/27/2018,09:53 PM,Full Moon,3,2018-06-27 21:53:00,1530161580,"June 27, 2018"
124,07/06/2018,12:51 AM,Last Quarter,4,2018-07-06 00:51:00,1530863460,"July 6, 2018"
125,07/12/2018,07:48 PM,New Moon,1,2018-07-12 19:48:00,1531450080,"July 12, 2018"
126,07/19/2018,12:52 PM,First Quarter,2,2018-07-19 12:52:00,1532029920,"July 19, 2018"
127,07/27/2018,01:20 PM,Full Moon,3,2018-07-27 13:20:00,1532722800,"July 27, 2018"
128,08/04/2018,11:18 AM,Last Quarter,4,2018-08-04 11:18:00,1533406680,"August 4, 2018"
129,08/11/2018,02:58 AM,New Moon,1,2018-08-11 02:58:00,1533981480,"August 11, 2018"
130,08/18/2018,12:49 AM,First Quarter,2,2018-08-18 00:49:00,1534578540,"August 18, 2018"
131,08/26/2018,04:56 AM,Full Moon,3,2018-08-26 04:56:00,1535284560,"August 26, 2018"
132,09/02/2018,07:37 PM,Last Quarter,4,2018-09-02 19:37:00,1535942220,"September 2, 2018"
133,09/09/2018,11:01 AM,New Moon,1,2018-09-09 11:01:00,1536516060,"September 9, 2018"
134,09/16/2018,04:15 PM,First Quarter,2,2018-09-16 16:15:00,1537139700,"September 16, 2018"
135,09/24/2018,07:52 PM,Full Moon,3,2018-09-24 19:52:00,1537843920,"September 24, 2018"
136,10/02/2018,02:45 AM,Last Quarter,4,2018-10-02 02:45:00,1538473500,"October 2, 2018"
137,10/08/2018,08:47 PM,New Moon,1,2018-10-08 20:47:00,1539056820,"October 8, 2018"
138,10/16/2018,11:02 AM,First Quarter,2,2018-10-16 11:02:00,1539712920,"October 16, 2018"
139,10/24/2018,09:45 AM,Full Moon,3,2018-10-24 09:45:00,1540399500,"October 24, 2018"
140,10/31/2018,09:40 AM,Last Quarter,4,2018-10-31 09:40:00,1541004000,"October 31, 2018"
141,11/07/2018,09:02 AM,New Moon,1,2018-11-07 09:02:00,1541606520,"November 7, 2018"
142,11/15/2018,07:54 AM,First Quarter,2,2018-11-15 07:54:00,1542293640,"November 15, 2018"
143,11/22/2018,10:39 PM,Full Moon,3,2018-11-22 22:39:00,1542951540,"November 22, 2018"
144,11/29/2018,05:19 PM,Last Quarter,4,2018-11-29 17:19:00,1543537140,"November 29, 2018"
145,12/07/2018,12:20 AM,New Moon,1,2018-12-07 00:20:00,1544167200,"December 7, 2018"
146,12/15/2018,04:49 AM,First Quarter,2,2018-12-15 04:49:00,1544874540,"December 15, 2018"
147,12/22/2018,10:49 AM,Full Moon,3,2018-12-22 10:49:00,1545500940,"December 22, 2018"
148,12/29/2018,02:34 AM,Last Quarter,4,2018-12-29 02:34:00,1546076040,"December 29, 2018"

In [ ]:
moon_phases_df.to_excel("Moon_Phases.xlsx")

In [8]:
new_moon_df = moon_phases_df[moon_phases_df.phaseid ==1]
firstq_moon_df = moon_phases_df[moon_phases_df.phaseid ==2]
full_moon_df = moon_phases_df[moon_phases_df.phaseid ==3]
lastq_moon_df = moon_phases_df[moon_phases_df.phaseid ==4]

In [9]:
firstq_moon_df

,date,time,phase,phaseid,datetime,timestamp,friendlydate
2,01/16/2016,04:26 PM,First Quarter,2,2016-01-16 16:26:00,1452986760,"January 16, 2016"
6,02/15/2016,12:46 AM,First Quarter,2,2016-02-15 00:46:00,1455522360,"February 15, 2016"
10,03/15/2016,10:03 AM,First Quarter,2,2016-03-15 10:03:00,1458061380,"March 15, 2016"
14,04/13/2016,08:59 PM,First Quarter,2,2016-04-13 20:59:00,1460606340,"April 13, 2016"
18,05/13/2016,10:02 AM,First Quarter,2,2016-05-13 10:02:00,1463158920,"May 13, 2016"
22,06/12/2016,01:10 AM,First Quarter,2,2016-06-12 01:10:00,1465719000,"June 12, 2016"
26,07/11/2016,05:52 PM,First Quarter,2,2016-07-11 17:52:00,1468284720,"July 11, 2016"
30,08/10/2016,11:21 AM,First Quarter,2,2016-08-10 11:21:00,1470853260,"August 10, 2016"
34,09/09/2016,04:49 AM,First Quarter,2,2016-09-09 04:49:00,1473421740,"September 9, 2016"
38,10/08/2016,09:33 PM,First Quarter,2,2016-10-08 21:33:00,1475987580,"October 8, 2016"
42,11/07/2016,12:51 PM,First Quarter,2,2016-11-07 12:51:00,1478548260,"November 7, 2016"
46,12/07/2016,02:03 AM,First Quarter,2,2016-12-07 02:03:00,1481101380,"December 7, 2016"
50,01/05/2017,12:47 PM,First Quarter,2,2017-01-05 12:47:00,1483645620,"January 5, 2017"
54,02/03/2017,09:19 PM,First Quarter,2,2017-02-03 21:19:00,1486181940,"February 3, 2017"
58,03/05/2017,04:32 AM,First Quarter,2,2017-03-05 04:32:00,1488713520,"March 5, 2017"
62,04/03/2017,11:39 AM,First Quarter,2,2017-04-03 11:39:00,1491244740,"April 3, 2017"
66,05/02/2017,07:47 PM,First Quarter,2,2017-05-02 19:47:00,1493779620,"May 2, 2017"
70,06/01/2017,05:42 AM,First Quarter,2,2017-06-01 05:42:00,1496320920,"June 1, 2017"
74,06/30/2017,05:51 PM,First Quarter,2,2017-06-30 17:51:00,1498870260,"June 30, 2017"
78,07/30/2017,08:23 AM,First Quarter,2,2017-07-30 08:23:00,1501428180,"July 30, 2017"
82,08/29/2017,01:13 AM,First Quarter,2,2017-08-29 01:13:00,1503994380,"August 29, 2017"
86,09/27/2017,07:54 PM,First Quarter,2,2017-09-27 19:54:00,1506567240,"September 27, 2017"
90,10/27/2017,03:22 PM,First Quarter,2,2017-10-27 15:22:00,1509142920,"October 27, 2017"
94,11/26/2017,10:03 AM,First Quarter,2,2017-11-26 10:03:00,1511715780,"November 26, 2017"
98,12/26/2017,02:20 AM,First Quarter,2,2017-12-26 02:20:00,1514280000,"December 26, 2017"
102,01/24/2018,03:20 PM,First Quarter,2,2018-01-24 15:20:00,1516832400,"January 24, 2018"
106,02/23/2018,01:09 AM,First Quarter,2,2018-02-23 01:09:00,1519373340,"February 23, 2018"
110,03/24/2018,08:35 AM,First Quarter,2,2018-03-24 08:35:00,1521905700,"March 24, 2018"
114,04/22/2018,02:46 PM,First Quarter,2,2018-04-22 14:46:00,1524433560,"April 22, 2018"
118,05/21/2018,08:49 PM,First Quarter,2,2018-05-21 20:49:00,1526960940,"May 21, 2018"
122,06/20/2018,03:51 AM,First Quarter,2,2018-06-20 03:51:00,1529491860,"June 20, 2018"
126,07/19/2018,12:52 PM,First Quarter,2,2018-07-19 12:52:00,1532029920,"July 19, 2018"
130,08/18/2018,12:49 AM,First Quarter,2,2018-08-18 00:49:00,1534578540,"August 18, 2018"
134,09/16/2018,04:15 PM,First Quarter,2,2018-09-16 16:15:00,1537139700,"September 16, 2018"
138,10/16/2018,11:02 AM,First Quarter,2,2018-10-16 11:02:00,1539712920,"October 16, 2018"
142,11/15/2018,07:54 AM,First Quarter,2,2018-11-15 07:54:00,1542293640,"November 15, 2018"
146,12/15/2018,04:49 AM,First Quarter,2,2018-12-15 04:49:00,1544874540,"December 15, 2018"

In [10]:
full_moon_df

,date,time,phase,phaseid,datetime,timestamp,friendlydate
3,01/23/2016,06:46 PM,Full Moon,3,2016-01-23 18:46:00,1453599960,"January 23, 2016"
7,02/22/2016,11:20 AM,Full Moon,3,2016-02-22 11:20:00,1456165200,"February 22, 2016"
11,03/23/2016,05:01 AM,Full Moon,3,2016-03-23 05:01:00,1458734460,"March 23, 2016"
15,04/21/2016,10:24 PM,Full Moon,3,2016-04-21 22:24:00,1461302640,"April 21, 2016"
19,05/21/2016,02:14 PM,Full Moon,3,2016-05-21 14:14:00,1463865240,"May 21, 2016"
23,06/20/2016,04:02 AM,Full Moon,3,2016-06-20 04:02:00,1466420520,"June 20, 2016"
27,07/19/2016,03:57 PM,Full Moon,3,2016-07-19 15:57:00,1468969020,"July 19, 2016"
31,08/18/2016,02:27 AM,Full Moon,3,2016-08-18 02:27:00,1471512420,"August 18, 2016"
35,09/16/2016,12:05 PM,Full Moon,3,2016-09-16 12:05:00,1474052700,"September 16, 2016"
39,10/15/2016,09:23 PM,Full Moon,3,2016-10-15 21:23:00,1476591780,"October 15, 2016"
43,11/14/2016,06:52 AM,Full Moon,3,2016-11-14 06:52:00,1479131520,"November 14, 2016"
47,12/13/2016,05:06 PM,Full Moon,3,2016-12-13 17:06:00,1481673960,"December 13, 2016"
51,01/12/2017,04:34 AM,Full Moon,3,2017-01-12 04:34:00,1484220840,"January 12, 2017"
55,02/10/2017,05:33 PM,Full Moon,3,2017-02-10 17:33:00,1486773180,"February 10, 2017"
59,03/12/2017,07:54 AM,Full Moon,3,2017-03-12 07:54:00,1489330440,"March 12, 2017"
63,04/10/2017,11:08 PM,Full Moon,3,2017-04-10 23:08:00,1491890880,"April 10, 2017"
67,05/10/2017,02:42 PM,Full Moon,3,2017-05-10 14:42:00,1494452520,"May 10, 2017"
71,06/09/2017,06:10 AM,Full Moon,3,2017-06-09 06:10:00,1497013800,"June 9, 2017"
75,07/08/2017,09:07 PM,Full Moon,3,2017-07-08 21:07:00,1499573220,"July 8, 2017"
79,08/07/2017,11:11 AM,Full Moon,3,2017-08-07 11:11:00,1502129460,"August 7, 2017"
83,09/06/2017,12:03 AM,Full Moon,3,2017-09-06 00:03:00,1504681380,"September 6, 2017"
87,10/05/2017,11:40 AM,Full Moon,3,2017-10-05 11:40:00,1507228800,"October 5, 2017"
91,11/03/2017,10:23 PM,Full Moon,3,2017-11-03 22:23:00,1509772980,"November 3, 2017"
95,12/03/2017,08:47 AM,Full Moon,3,2017-12-03 08:47:00,1512316020,"December 3, 2017"
99,01/01/2018,07:24 PM,Full Moon,3,2018-01-01 19:24:00,1514859840,"January 1, 2018"
103,01/31/2018,06:27 AM,Full Moon,3,2018-01-31 06:27:00,1517405220,"January 31, 2018"
107,03/01/2018,05:51 PM,Full Moon,3,2018-03-01 17:51:00,1519951860,"March 1, 2018"
111,03/31/2018,05:37 AM,Full Moon,3,2018-03-31 05:37:00,1522499820,"March 31, 2018"
115,04/29/2018,05:58 PM,Full Moon,3,2018-04-29 17:58:00,1525049880,"April 29, 2018"
119,05/29/2018,07:20 AM,Full Moon,3,2018-05-29 07:20:00,1527603600,"May 29, 2018"
123,06/27/2018,09:53 PM,Full Moon,3,2018-06-27 21:53:00,1530161580,"June 27, 2018"
127,07/27/2018,01:20 PM,Full Moon,3,2018-07-27 13:20:00,1532722800,"July 27, 2018"
131,08/26/2018,04:56 AM,Full Moon,3,2018-08-26 04:56:00,1535284560,"August 26, 2018"
135,09/24/2018,07:52 PM,Full Moon,3,2018-09-24 19:52:00,1537843920,"September 24, 2018"
139,10/24/2018,09:45 AM,Full Moon,3,2018-10-24 09:45:00,1540399500,"October 24, 2018"
143,11/22/2018,10:39 PM,Full Moon,3,2018-11-22 22:39:00,1542951540,"November 22, 2018"
147,12/22/2018,10:49 AM,Full Moon,3,2018-12-22 10:49:00,1545500940,"December 22, 2018"

In [11]:
lastq_moon_df

,date,time,phase,phaseid,datetime,timestamp,friendlydate
0,01/01/2016,10:30 PM,Last Quarter,4,2016-01-01 22:30:00,1451712600,"January 1, 2016"
4,01/31/2016,08:28 PM,Last Quarter,4,2016-01-31 20:28:00,1454297280,"January 31, 2016"
8,03/01/2016,04:11 PM,Last Quarter,4,2016-03-01 16:11:00,1456873860,"March 1, 2016"
12,03/31/2016,08:17 AM,Last Quarter,4,2016-03-31 08:17:00,1459437420,"March 31, 2016"
16,04/29/2016,08:29 PM,Last Quarter,4,2016-04-29 20:29:00,1461986940,"April 29, 2016"
20,05/29/2016,05:12 AM,Last Quarter,4,2016-05-29 05:12:00,1464523920,"May 29, 2016"
24,06/27/2016,11:19 AM,Last Quarter,4,2016-06-27 11:19:00,1467051540,"June 27, 2016"
28,07/26/2016,04:00 PM,Last Quarter,4,2016-07-26 16:00:00,1469574000,"July 26, 2016"
32,08/24/2016,08:41 PM,Last Quarter,4,2016-08-24 20:41:00,1472096460,"August 24, 2016"
36,09/23/2016,02:56 AM,Last Quarter,4,2016-09-23 02:56:00,1474624560,"September 23, 2016"
40,10/22/2016,12:14 PM,Last Quarter,4,2016-10-22 12:14:00,1477163640,"October 22, 2016"
44,11/21/2016,01:33 AM,Last Quarter,4,2016-11-21 01:33:00,1479717180,"November 21, 2016"
48,12/20/2016,06:56 PM,Last Quarter,4,2016-12-20 18:56:00,1482285360,"December 20, 2016"
52,01/19/2017,03:13 PM,Last Quarter,4,2017-01-19 15:13:00,1484863980,"January 19, 2017"
56,02/18/2017,12:33 PM,Last Quarter,4,2017-02-18 12:33:00,1487446380,"February 18, 2017"
60,03/20/2017,08:58 AM,Last Quarter,4,2017-03-20 08:58:00,1490025480,"March 20, 2017"
64,04/19/2017,02:57 AM,Last Quarter,4,2017-04-19 02:57:00,1492595820,"April 19, 2017"
68,05/18/2017,05:33 PM,Last Quarter,4,2017-05-18 17:33:00,1495153980,"May 18, 2017"
72,06/17/2017,04:33 AM,Last Quarter,4,2017-06-17 04:33:00,1497699180,"June 17, 2017"
76,07/16/2017,12:26 PM,Last Quarter,4,2017-07-16 12:26:00,1500233160,"July 16, 2017"
80,08/14/2017,06:15 PM,Last Quarter,4,2017-08-14 18:15:00,1502759700,"August 14, 2017"
84,09/12/2017,11:25 PM,Last Quarter,4,2017-09-12 23:25:00,1505283900,"September 12, 2017"
88,10/12/2017,05:25 AM,Last Quarter,4,2017-10-12 05:25:00,1507811100,"October 12, 2017"
92,11/10/2017,01:36 PM,Last Quarter,4,2017-11-10 13:36:00,1510346160,"November 10, 2017"
96,12/10/2017,12:51 AM,Last Quarter,4,2017-12-10 00:51:00,1512892260,"December 10, 2017"
100,01/08/2018,03:25 PM,Last Quarter,4,2018-01-08 15:25:00,1515450300,"January 8, 2018"
104,02/07/2018,08:54 AM,Last Quarter,4,2018-02-07 08:54:00,1518018840,"February 7, 2018"
108,03/09/2018,04:20 AM,Last Quarter,4,2018-03-09 04:20:00,1520594400,"March 9, 2018"
112,04/08/2018,12:18 AM,Last Quarter,4,2018-04-08 00:18:00,1523171880,"April 8, 2018"
116,05/07/2018,07:09 PM,Last Quarter,4,2018-05-07 19:09:00,1525745340,"May 7, 2018"
120,06/06/2018,11:32 AM,Last Quarter,4,2018-06-06 11:32:00,1528309920,"June 6, 2018"
124,07/06/2018,12:51 AM,Last Quarter,4,2018-07-06 00:51:00,1530863460,"July 6, 2018"
128,08/04/2018,11:18 AM,Last Quarter,4,2018-08-04 11:18:00,1533406680,"August 4, 2018"
132,09/02/2018,07:37 PM,Last Quarter,4,2018-09-02 19:37:00,1535942220,"September 2, 2018"
136,10/02/2018,02:45 AM,Last Quarter,4,2018-10-02 02:45:00,1538473500,"October 2, 2018"
140,10/31/2018,09:40 AM,Last Quarter,4,2018-10-31 09:40:00,1541004000,"October 31, 2018"
144,11/29/2018,05:19 PM,Last Quarter,4,2018-11-29 17:19:00,1543537140,"November 29, 2018"
148,12/29/2018,02:34 AM,Last Quarter,4,2018-12-29 02:34:00,1546076040,"December 29, 2018"

In [ ]:
moon_phases_df.groupby(moon_phases_df.phaseid ==1)

In [ ]:
moon_phases_df.friendlydate.mean